/*//////////////////////////////////PAGE DE STYLE*/

/*/////////////////////////////////GENERAL
    /*Police*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

/*BODY*/
body {
  margin: 0;
  padding: 0px;
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.containte {
  margin: 1.5% 10%;
}

/*LIEN*/
a {
  color: rgb(221, 97, 83);
  text-decoration: none;
}

a:hover,
a:visited {
  color: rgba(201, 73, 59, 0.966);
  font-weight: bold;
}

/*BOUTON*/
.button {
  background-color: rgba(226, 102, 123, 0.986);
  color: rgb(253, 201, 211);
  font-size: 13pt;
  font-family: "Comfortaa", cursive;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  margin: 4px 8px;
  border-radius: 20px;
  border: none;
}

.button:hover {
  background-color: rgb(230, 123, 159);
  color: rgb(241, 211, 224);
  border: none;
  border-radius: 150px;
  transition: 0.5s ease;
}

/*TEXTE*/
H1,
h2 {
  color: rgb(201, 67, 111);
  text-transform: uppercase;
  text-shadow: 4px 8px 4px rgb(226, 167, 160);
}

h3 {
  color: salmon;
  text-transform: uppercase;
}

h4 {
  color: rgb(224, 220, 224);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*//////////////////////////////////MENU

  /*MENU FIX*/

header {
  height: 80px;
}

.headerfix {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 50;
}

.hdx {
  display: flex;
  justify-content: space-around;
}

.hdx ul {
  list-style: none;
}

.hdx ul li {
  display: inline-block;
  padding: 5px 0px;
  margin: 0 10px;
}

.zonerecherche {
  margin: 33px 0px 10px 0px;
  border: none;
  border-radius: 20px;
  outline-style: none;
}

.boutonrecherche {
  border: none;
  border-radius: 20px;
}

.boutonrecherche:hover {
  background-color: rgb(230, 123, 159);
  color: rgb(241, 211, 224);
  border: none;
  border-radius: 150px;
  transition: 0.5s ease;
}

.headerfix ul li .langue {
  border: none;
  width: 95px;
  border-radius: 20px;
  color: rgb(230, 123, 159);
}

.headerfix ul li .langue:hover {
  color: rgb(241, 211, 224);
  border: none;
  border-radius: 150px;
  transition: 0.5s ease;
}

.logomenu {
  width: 50%;
}

/*GRAND LOGO*/

.logo {
  text-align: center;
}

/*NAVITAION*/

#main-nav a {
  color: #f6f7f8;
  background: rgba(226, 102, 123, 0.986);
  position: static;
  z-index: 5;
  height: 64px;
  font-family: "Comfortaa", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s;
}

#main-nav a:hover {
  background: rgba(236, 124, 142, 0.986);
}

#main-nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 5;
}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
  top: 0px;
  position: static;
  z-index: 5;
}

.submenu li {
  display: none;
  z-index: 5;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.submenu li {
  position: relative;
  z-index: 5;
}

/*//////////////////////////////////// PIED DE PAGE*/

/*BANNIERE SERVICE*/
.ban-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 40px 40px 40px;
}

.colonne-service {
  position: static;
  margin: 20px;
  justify-content: space-around;
  text-align: center;
}

/*NEWLETTERS*/
.mailnl {
  margin: 4px 8px;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  outline-style: none;
}

.newletter-footer {
  text-align: center;
  margin: 20px;
}

/*FOOTER ROSE*/

.contenu-footer {
  background-color: rgb(245, 205, 218);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0 60px;
}

.colonne-footer ul li {
  color: rgb(221, 97, 83);
}

.contenu-footer h4 {
  color: rgb(201, 67, 111);
  text-transform: uppercase;
}

.colonne-footer {
  padding: 20px 40px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

/*/////////////////////////////////////////////////////////////// PAGES /////////////*/

/*////////////////////// PAGE ACCUEIL*/
/* test carrousel*/

.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
  margin-bottom: 0px;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: rgb(0, 0, 0);
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: black;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff'width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin: 0% 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

#carouselExampleCaptions {
  margin-bottom: 0px;
}
.ban-carou {
  background-color: rgba(212, 69, 93, 0.514);
  transition: 0.2s;
  padding: 50px 30px;
  font-size: 18pt;
  position: relative;
  z-index: -1000;
  text-transform: uppercase;
  line-height: 32px;
}

.ban-carou i {
  font-size: 45px;
  color: rgb(29, 6, 15);
  text-shadow: 4px 8px 4px rgba(252, 160, 201, 0.575);
}

/* index produits*/
.entreeindex {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.entreepage {
  width: 49%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.entreepage img {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.titrehome {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(226, 102, 123, 0.7);
  padding: 40px;
  font-size: 24pt;
  transition: 0.6s;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titrehome:hover {
  font-size: 0;
}

.titrehome:hover:after {
  box-sizing: border-box;
  content: attr(data-hover);
  display: block;
  text-align: center;
  width: 100%;
  color: rgb(245, 243, 243);
  background-color: rgba(226, 102, 123);
  padding: 40px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*card index */

.cardsindex {
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.cardsindex .cards {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 0px;
}
/* texte section index */
.aideindex {
  font-weight: bold;
  font-size: 16px;
  margin: 0px auto;
  padding-bottom: 40px;
  color: rgb(161, 147, 147);
}

.accueilgarcon {
  width: 45%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.accueilfille img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.accueilgarcon img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.accueilfille {
  width: 45%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.texte_accueil {
  padding: 30px;
  color: white;
  font-size: 14pt;
  text-align: center;
  background-color: rgba(216, 86, 108, 0.493);
}

/*BOUTIQUE HOME*/

.homeaccesboutique {
  margin: 5% auto;
  text-align: center;
  position: relative;
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeaccesboutique img {
  max-width: 100%;
  margin: 0px;
}

.homeaccesboutique p {
  padding: 20px 15px;
  text-align: center;
  color: white;
  font-size: 14pt;
  text-align: center;
  background-color: rgba(216, 86, 108, 0.493);
}

.homeaccesboutique .titreboutiquehome {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(226, 102, 123, 0.7);
  padding: 20px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titreboutiquehome:hover {
  display: block;
  width: 100%;
  color: rgb(3, 3, 3);
  background-color: rgba(212, 69, 93, 0.747);
  transition: 0.2s;
  padding: 5px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*////////////////////////////////////////////::PAGE MON COMPTE*/

.client {
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nouveauclient {
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  margin: 0%;
  padding: 2%;
}

.connection {
  padding: 30px;
}

.connection input {
  display: block;
  margin-bottom: 10px;
  margin: 0% auto;
  padding: 3%;
  width: 80%;
  outline-style: none;
}

.connection input[type="email"],
.connection input[type="password"] {
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline-style: none;
}

.connection input[type="email"]:focus {
  background-color: rgb(252, 185, 207);
  transition: 0.3s;
  outline-style: none;
}

.connection input[type="password"]:focus {
  background-color: rgb(252, 185, 207);
  transition: 0.3s;
  outline-style: none;
}

#entreeclient {
  margin: 5%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}

.client {
  margin: 0%;
  padding: 2%;
  width: 40%;
  background-color: rgb(247, 220, 231);
}

.connection input.checkbox {
  display: inline;
  margin: 0%;
  padding: 0%;
  text-align: left;
  width: 20%;
  outline-style: none;
}

.connection p {
  margin-bottom: 5%;
  padding-left: 20%;
}

.containte form {
  padding: 0%;
  margin-bottom: 0%;
}

/*////////////////////////////////////////////// CGDV*/

.containte .corpscgdv p {
  text-align: justify;
  padding-left: 3%;
}

.containte h1 {
  padding-top: 3px;
}

/*////////////////////////////////////// PLAN DU SITE*/

.photoplandusite {
  width: 100%;
}

.ban-plandusite {
  position: relative;
}

.ban-plandusite .titreplan {
  display: block;
  width: 100%;
  color: white;
  background-color: rgba(226, 102, 123, 0.7);
  padding: 20px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titreplan:hover {
  display: block;
  width: 100%;
  color: rgb(3, 3, 3);
  background-color: rgba(212, 69, 93, 0.747);
  transition: 0.2s;
  padding: 5px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.listeplan {
  line-height: 3em;
  list-style-type: none;
  margin: 3%;
}

.souslisteplan {
  color: rgb(243, 192, 216);
  line-height: 2em;
  list-style-type: none;
  margin-left: 3%;
}

.listeplan a {
  color: rgb(201, 67, 111);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 8px 4px rgb(226, 167, 160);
  font-size: 16pt;
}

.souslisteplan a {
  color: rgb(204, 122, 150);
  text-transform: uppercase;
  text-shadow: 4px 8px 4px rgb(226, 167, 160);
  font-size: 12pt;
}

/*///////////////////////////////////////////// CONTACT */

.ban-contact {
  max-width: 100%;
  position: relative;
}

.ban-contact .titreban-contact {
  display: block;
  width: 100%;
  color: white;
  background-color: rgba(226, 102, 123, 0.7);
  padding: 20px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titreban-contact:hover {
  display: block;
  width: 100%;
  color: rgb(3, 3, 3);
  background-color: rgba(212, 69, 93, 0.747);
  transition: 0.2s;
  padding: 5px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.texte-contact {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.texte-contact,
div {
  margin-bottom: 50px;
}

.center-contact {
  display: flex;
  justify-content: center;
}

.unequestion,
.nouscontacter,
.noustelephoner,
.nousrejoindre {
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
.nousrejoindre form {
  text-align: center;
}
.formulairecontact {
  width: 80%;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 0px auto;
}

.formulairecontact form {
  margin-left: 80px;
}

.formulairecontact select {
  width: 34%;
}

.formulairecontact input#sujet {
  width: 66%;
  outline-style: none;
}

.formulairecontact input#message {
  width: 66%;
  outline-style: none;
}
.formulairecontact textarea {
  width: 66%;
}
.formulairecontact input,
select,
textarea,
option {
  margin: 4px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 30%;
  outline-style: none;
}

.nouscontacter .formulairecontact input:hover {
  margin: 4px;
  background-color: rgb(240, 220, 228);
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 30%;
  outline-style: none;
}

/* recrutement */
.nousrejoindre h1 {
  margin: 20px;
}
.nousrejoindre p {
  margin: 20px;
}
.nousrejoindre .formulairecontact {
  width: 80%;
  box-sizing: border-box;
  margin: 0px auto;
}
.NT-horaire {
  text-align: center;
  font-size: 20px;
}

.nousrejoindre .formulairecontact select {
  width: 32%;
}

.nousrejoindre .formulairecontact textarea {
  width: 64%;
}

.nousrejoindre .formulairecontact form {
  margin: 0px auto;
}
/*//////////////////////////////////////QUI SOMMES NOUS*/

.ban-qsn {
  width: 100%;
}

.ban-qsn img {
  position: relative;
}

.ban-qsn .titreqsn {
  display: block;
  width: 100%;
  color: white;
  background-color: rgba(226, 102, 123, 0.7);
  padding: 20px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titreqsn:hover {
  display: block;
  width: 100%;
  color: rgb(3, 3, 3);
  background-color: rgba(212, 69, 93, 0.747);
  transition: 0.2s;
  padding: 5px 0px;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.block-bioqsn {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.block-adqsn p,
.block-bioqsn p {
  text-align: justify;
}
.adqsn address {
  text-align: center;
}

.bioqsn {
  width: 50%;
  padding: 0% 5% 5% 0%;
}

.photoblock1-bioqsn {
  width: 50%;
}

.photoblock1-bioqsn img {
  width: 100%;
}

.block-adqsn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
}

.adqsn {
  width: 50%;
  padding: 0% 5% 5% 5%;
}

.photoblock2-adqsn {
  width: 50%;
}

.photoblock2-adqsn img {
  width: 100%;
}

.adqsn ul li {
  list-style-type: none;
}

.adqsn ul li i {
  color: rgb(243, 192, 216);
}

.carte {
  text-align: center;
}

/*///////////////////////////////////////////////// PERSONAL ShOPPER */

/* ban copier collé des autres pages css non changé*/

.introps {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(250, 196, 223, 0.212);
}

.introps h2 {
  font-weight: bold;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.texteps {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  text-align: justify;
  margin-bottom: 20px;
}

.texteps a {
  display: inline-block;
  margin: 20px 20px;
}

.resaps img {
  box-sizing: border-box;
  width: 100%;
}

.divvideo {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.video {
  width: 40%;
  margin: 40px auto;
}

.video iframe {
  width: 100%;
}
.texteven {
  margin: 0px 90px;
  text-align: center;
}

.texteven p i {
  font-size: 25px;
}
.resaps {
  width: 45%;
  box-sizing: border-box;
  padding: 1%;
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5%;
  margin-top: 5%;
  text-align: justify;
}

.resaps .formulaire {
  text-align: center;
}

.resaps .formulaire input {
  margin: 4px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 40%;
  outline-style: none;
}

.resaps .formulaire input:hover {
  margin: 4px;
  background-color: rgba(250, 196, 223, 0.212);
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 40%;
  outline-style: none;
}

.resaps .formulaire input select {
  margin-right: 15px;
  outline-style: none;
}

.photops {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

.photops img {
  width: 49%;
}

/*//////////////////////////////////////////////////////:PANIER*/

.tableau-style {
  border-collapse: collapse;

  width: 100%;
  margin: 20px auto;
}

thead tr {
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  text-align: center;
}

thead tr th {
  padding: 35px 0px;
}

td {
  padding: 2px 20px;
}

tbody tr,
td,
th {
  border: 1px solid #ddd;
}

tbody tr td {
  background-color: white;
}

tbody tr .bgc-pink {
  background-color: rgb(248, 238, 244);
}

tbody tr td img {
  max-width: 150px;
}

.pied-panier {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.pied-panier .totalpanier {
  text-align: right;
  line-height: 150%;
}

.pied-panier input {
  margin-top: 5px;
  padding: 10px 30px;
  outline-style: none;
}

.pied-panier .codepromo button {
  margin-top: 5px;
  padding: 10px 30px;
}

.pied-panier .codepromo input.zonerecherche {
  background-color: rgb(233, 233, 233);
  outline-style: none;
}

.pied-panier .totalpanier .boutonrecherche {
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgb(230, 123, 159);
}

.pied-panier .totalpanier button:hover {
  padding: 10px 30px;
  background-color: rgb(197, 93, 128);
  color: rgb(241, 211, 224);
  font-weight: bold;
  border: none;
  border-radius: 150px;
  transition: 0.5s ease;
}

/*///////////////////////////////////////////////////////////// FICHE PRODUIT */

#imggrande {
  padding-top: 30px;
  width: 400px;
}
#imggrande input {
  width: 400px;
  outline-style: none;
}
#imgnav {
  margin-left: 50px;
}

.container-all {
  height: 100%;
  padding: 20px;
}

.containercard {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.reviews {
  color: rgb(235, 215, 103);
}

.price {
  margin-bottom: 10px;
}

.imgs {
  cursor: pointer;
}

.quantity-produit {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.quantity-produit select {
  text-align: center;
  width: 100px;
}

.quantity-produit h5 {
  margin-bottom: 0px;
}

.buttons-produit {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons-produit button {
  margin: 10px;
  width: 180px;
  padding: 5px;
  font: inherit;
  border: 2px solid rgba(216, 86, 108, 0.747);
  border-radius: 25px;
  color: white;
  background-color: rgba(216, 86, 108, 0.815);
  outline: none;
  cursor: pointer;
}

.buttons-produit button:nth-child(1) i {
  margin-right: 10px;
}

.buttons-produit button:hover {
  color: white;
  background-color: #d4386c;
}

.slider-product {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: white;
  margin: 0px 20px;
}

.slider-product img {
  width: 90%;
  margin: auto;
}

.img-slider-product {
  width: 70%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
}

.img-slider-product div {
  width: 20%;
  height: 100%;
}

.img-slider-product img {
  height: 100%;
}

#monOnglet {
  font-family: "Comfortaa", cursive;
  font-size: 10pt;
  height: 170px;
  margin-bottom: 0px;
}

@media (min-width: 1025px) {
  .bodyproduct {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-all {
    background-image: url("../photos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containercard {
    flex-direction: row;
    height: 98%;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .images-produit {
    width: 50%;
    height: 100%;
  }

  .images-produit h3 {
    display: none;
  }

  .infos-produit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;

    height: 80%;
    width: 50%;
    font-size: 20px;
    padding-right: 70px;
  }

  .infos-produit h1 {
    font-size: 16pt;
    display: block;
    width: 400px;
  }

  .buttons-produit {
    flex-direction: row;
    font-size: 15px;
  }

  .buttons-produit button {
    padding: 8px;
  }

  .img-slider-product {
    width: 50%;
  }
}

/*////////////////////////////////// CATEGORIE FILLE */

.cards {
  margin: 0 auto;
  box-sizing: border-box;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 0px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
  border: solid 0.5px rgba(197, 190, 190, 0.548);
  box-shadow: 0 0 0.5em rgba(182, 179, 179, 0.747);
}

.card {
  position: relative;
  margin-bottom: 0px;
  background-color: white;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background-image: url(../photos/background.jpg);
  margin-bottom: 0px;
  border: none;
  font-weight: bold;
  text-align: center;
  border: solid 0.5px rgba(197, 190, 190, 0.548);
  box-shadow: 0 0 0.5em rgba(182, 179, 179, 0.747);
  text-transform: uppercase;
  color: rgb(88, 83, 83);
}

.pricecard {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  color: rgb(65, 60, 60);
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card img:nth-child(1) {
  position: absolute;
  transition: 0.3s ease;
}

.card img:nth-child(1):hover {
  opacity: 0;
  transition: 0.3s ease;
}

.cheminproduit {
  font-size: 14pt;
}

/* categorie */

.marge-table {
  margin-left: 16px;
}

.table thead tr th {
  margin: 10px 10px;
  padding: 0px 5px;
  color: rgb(201, 67, 111);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 8px 4px rgb(226, 167, 160);
  font-size: 16pt;
}

.table tbody tr td {
  padding: 10px 10px;
}

.categorie-aside {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}
.categorie-aside table {
  width: 265px;
  margin-right: 30px;
}

/*commentaire*/
.zoneavis {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(247, 239, 239, 0.63);
  padding: 2%;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.anciensavis {
  width: 50%;
  box-sizing: border-box;
}

.commentaires {
  border: solid 1px rgba(202, 188, 188, 0.616);
  margin-right: 30px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.commentaires .h5 {
  width: 100%;
  background-color: rgba(253, 211, 227, 0.404);
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
}

.commentaires .h5 .datecom {
  text-align: right;
  margin: 0px;
  font-style: italic;
  color: rgb(70, 65, 65);
}

.commentaires p {
  padding: 20px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.911);
}

.commentaires p i {
  color: rgb(231, 212, 101);
  padding-bottom: 10px;
}

.zoneavis .formulairecontact {
  width: 50%;
  box-sizing: border-box;
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  margin-bottom: 50px;
  text-align: center;
}

.zoneavis .formulairecontact form {
  margin: 0px auto;
  outline-style: none;
}

.zoneavis .formulairecontact p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.zoneavis .formulairecontact i {
  color: rgb(231, 212, 101);
  font-size: 1.5em;
  transition: color 0.4s;
  padding-top: 10px;
  outline-style: none;
}

.zoneavis .formulairecontact textarea {
  width: 68%;
  height: 100px;
}

/* actualité*/

.actualite .zoneactu {
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.commactu .h5 {
  width: 100%;
  background-color: rgba(253, 211, 227, 0.404);
  margin: 0px;
  padding: 20px;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-weight: bold;
}

.actualite .zoneactu .anciensactu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.actualite .zoneactu .anciensactu .commactu {
  width: 50%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  height: 250px;
  border: solid 1px rgba(202, 188, 188, 0.466);
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
}
.actualite .zoneactu .anciensactu .commactu p a {
  font-style: italic;
}
.actualite .zoneactu .anciensactu .commactu p {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 0px;
}
.actualite .zoneactu .anciensactu .commactu img {
  width: 50%;
  margin: 0px;
  padding: 5px;
  float: left;
}
.actualite .zoneactu .anciensactu .commactu h5 {
  width: 100%;
  background-color: rgba(253, 211, 227, 0.404);
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
.actualite .zoneactu .anciensactu .commactu .datecom {
  text-align: right;
  margin: 0px;

  font-style: italic;
  color: rgb(70, 65, 65);
}
/* FAQ mention leg*/

#mentionleg {
  text-align: justify;
}

/* MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ECRAN TELEPHONE */

@media (max-width: 600px) {
  .containte {
    width: 100%;
    margin: 0px;
  }
  body {
    width: 100%;
  }

  /* header */
  .recherche {
    display: none;
  }
  .logofix {
    display: none;
  }
  .contenu-footer {
    flex-wrap: wrap;
  }
  .hdx {
    justify-content: left;
  }
  .hdx ul {
    margin-bottom: 0px;
    padding-left: 0px;
  }
  p.logo {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .logo img {
    width: 100%;
  }

  /* index carousel */

  .carousel {
    width: 100%;
  }
  .carousel-indicators {
    display: none;
  }
  /*index card */

  .ban-carou {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;

    line-height: normal;
  }
  .carousel-caption {
    margin-bottom: 0px;
    bottom: 5px;
  }

  .ban-carou i {
    display: none;
  }
  .cardsindex {
    width: 100%;
    flex-wrap: wrap;
  }
  .cardsindex .cards {
    width: 100%;
    flex-wrap: wrap;
  }

  /* index boutique*/

  .titreboutiquehome {
    display: none;
    opacity: 0;
  }

  /* commentaire */

  .anciensavis {
    width: 100%;
  }

  .zoneavis .formulairecontact {
    width: 100%;
    margin: 0px;
  }
  .commentaires {
    margin-right: 0px;
  }

  .zoneavis .formulairecontact form {
    text-align: center;
  }
  /*footer*/

  .ban-service {
    font-size: 9px;
    margin: 0px;
  }
  .contenu-footer {
    display: block;
  }

  .contenu-footer {
    padding: 0px;
    margin: 0px;
  }

  .colonne-footer {
    padding: 5px;
    margin: 0px;
    text-align: center;
  }

  .reseaux {
    text-align: center;
    margin: 0px;
  }

  /*mon compte*/

  .client {
    width: 100%;
    margin-bottom: 20px;
  }
  .nouveauclient {
    width: 100%;
  }

  /*qui sommes nous*/
  .block-bioqsn {
    display: block;
  }
  .bioqsn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .photoblock1-bioqsn {
    width: 100%;
  }

  .block-adqsn {
    display: block;
  }
  .adqsn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .photoblock2-adqsn {
    width: 100%;
  }

  .actualite .zoneactu .anciensactu .commactu {
    width: 100%;
    height: 275px;
  }

  /*personal shopper*/

  .ban-plandusite {
    margin: 0px;
  }

  .texteps {
    width: 100%;
  }

  .resaps {
    width: 100%;
    margin-right: 0%;
  }

  .introps {
    margin: 0px;
  }

  .photops img {
    width: 100%;
  }
  .photops {
    flex-wrap: wrap;
  }

  .texteven {
    margin: 0px;
  }

  .video {
    width: 100%;
  }

  .texte-contact {
    width: 100%;
    text-align: justify;
  }

  .formulairecontact form {
    margin-left: 0px;
    text-align: left;
  }

  /*categorie garcon fille*/
  .categorie-aside {
    display: block;
  }
  .categorie-aside table {
    width: 100%;
  }
  .cards {
    width: 100%;
  }

  /* foire aux questions */

  #mentionleg {
    box-sizing: border-box;
    margin: 2%;
  }

  #mentionleg H1 {
    margin: 0px;
    text-align: left;
  }

  /* cgdv */

  .corpscgdv {
    margin: 2%;
  }
}
/* ecran tablette !!!!!!!!!!!*/

@media (max-width: 1100px) {
  .containte {
    width: 100%;
    margin: 0px;
  }
  body {
    width: 100%;
  }

  /* header */
  .recherche {
    display: none;
  }
  .logofix {
    display: none;
  }
  .contenu-footer {
    flex-wrap: wrap;
  }
  .hdx {
    justify-content: left;
  }
  .hdx ul {
    margin-bottom: 0px;
    padding-left: 0px;
  }
  p.logo {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .logo img {
    width: 100%;
  }

  /* index carousel */

  .carousel {
    width: 100%;
  }
  .carousel-indicators {
    display: none;
  }
  /*index card */

  .ban-carou {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
  }
  .carousel-caption {
    margin-bottom: 0px;
    bottom: 5px;
  }
  .ban-carou {
    line-height: 40px;
    font-size: 25pt;
    padding: 10px;
  }

  .ban-carou i {
    display: none;
  }
  .cardsindex {
    width: 100%;
    flex-wrap: wrap;
  }
  .cardsindex .cards {
    width: 100%;
    flex-wrap: wrap;
  }

  /* index boutique*/

  .titreboutiquehome {
    display: none;
    opacity: 0;
  }
  .homeaccesboutique p {
    font-size: 20pt;
  }
  /* commentaire */

  .anciensavis {
    width: 100%;
  }

  .zoneavis .formulairecontact {
    width: 100%;
    margin: 0px;
  }
  .zoneavis .formulairecontact form {
    text-align: center;
  }
  .commentaires {
    margin-right: 0px;
  }
  /*footer*/
  .contenu-footer {
    display: block;
  }

  .contenu-footer {
    padding: 0px;
    margin: 0px;
  }

  .colonne-footer {
    padding: 5px;
    margin: 0px;
    text-align: center;
  }

  .reseaux {
    text-align: center;
    margin: 0px;
  }

  /*mon compte*/

  .client {
    width: 100%;
    margin-bottom: 20px;
  }
  .nouveauclient {
    width: 100%;
  }

  /*qui sommes nous*/
  .block-bioqsn {
    display: block;
  }
  .bioqsn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .photoblock1-bioqsn {
    width: 100%;
  }

  .block-adqsn {
    display: block;
  }
  .adqsn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .photoblock2-adqsn {
    width: 100%;
  }

  .actualite .zoneactu .anciensactu .commactu {
    width: 100%;
    height: 275px;
  }

  /*personal shopper*/

  .ban-plandusite {
    margin: 0px;
  }

  .texteps {
    width: 100%;
  }

  .resaps {
    width: 100%;
    margin-right: 0%;
  }

  .introps {
    margin: 0px;
  }

  .photops img {
    width: 100%;
  }
  .photops {
    flex-wrap: wrap;
  }

  .texteven {
    margin: 0px;
  }

  .video {
    width: 100%;
  }

  .texte-contact {
    width: 100%;
    text-align: justify;
  }

  .formulairecontact form {
    margin-left: 0px;
    text-align: left;
  }

  /*categorie garcon fille*/
  .categorie-aside {
    display: block;
  }
  .categorie-aside table {
    width: 100%;
  }
  .cards {
    width: 100%;
  }

  /* foire aux questions */

  #mentionleg {
    box-sizing: border-box;
    margin: 2%;
  }

  #mentionleg H1 {
    margin: 0px;
    text-align: left;
  }
  /* cgdv */

  .corpscgdv {
    margin: 2%;
  }
}
